.prim-page-container {
  display: flex;
  flex-direction: column;
  /*height: 100vh;*/
  min-height: 100vh;
  width: 100vw;
  overflow-y: auto;
  gap: 1rem;
  /*overflow: hidden;*/
}

.prim-page-container h1 {
  align-self: center;
  margin: 0;
}

.prim-page h2 {
  text-align: center;
}

.prim-page {
  display: flex;
  gap: 1rem;
  width: 100%;
  /*height: 100%;
  height: 70vh;*/
  flex: 0 0 70vh; 
}

.prim-left, .prim-right {
  flex: 1;
  /*width: 100%;
  height: 100%;*/
  overflow: hidden;
}

.prim-divider {
  width: 1px;
  background-color: #2c3e50; 
  height: 100%;
  flex-shrink: 0; 
}

.prim-button-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  flex-shrink: 0;
}

.result-container {
  padding: 1rem;
  white-space: pre-wrap;
  flex-shrink: 0;
}